/* Imports */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import 'tailwindcss';

/* Theme variables */
@theme {
    --font-general: "VT323", mono;
}

/* CSS */
@layer utilities {
    h1 { @apply text-4xl }
    h2 { @apply font-bold text-xl }
    p { @apply leading-tight text-base }
    .navlink { @apply w-full font-bold text-xl cursor-pointer }
    .navlink-sec { @apply w-fit pr-2.5 font-bold whitespace-nowrap cursor-pointer }
}

/* Animations */
@layer utilities {
    /* Cursor for Typewriter */
    .typing-cursor::after {
        content: "_";
        display: inline-block;
        margin-left: 2px;
        animation: blink 0.8s infinite;
    }

    @keyframes blink {
        0%, 50% { opacity: 1; }
        50.01%, 100% { opacity: 0; }
    }

    /* Background load */
    @keyframes powerOn {
    from { background-color: rgb(0 0 0 / 1); }
    to { background-color: rgb(0 0 0 / 0.75); }
    }
    .animate-overlay-on-load { animation: powerOn 4s ease-out forwards; }
}